/* Previous and Next buttons*/

.btn-default {
  color: #fff;
  background-color: #E4572E;
  border-color: #000;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
}

.btn-default:hover {
  background-color: #D9481C;
  color: white;
}



/* Show/Hide Solution buttons*/

.solution-btn-default {
  color: #fff;
  background-color: #0B4F6C;
  border-color: #000;
}

.solution-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 50px;
  margin-left: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
}

.solution-btn-default:hover {
  background-color: #07364A;
  color: white;
}


