/* -----------Exercises Note------------- */
.exercises {
  padding: 1em;
  margin: 0 0;
  padding-left: 15px;
  padding-top: 15px;
  min-height: 120px;
  color: #264653;
  background-color: #D3D9D4AB;
  border: solid 3px #264653;
  border-radius: 25px;
  }
  

/* -----------Purple Protip Note------------- */

.protip {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-image: url("../figs/protip.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #75658c;
  background-color: #dbceefab;
  border: solid 5px #d8c1f7;
  }
  

/* -----------Opal FYI Note------------- */

.fyi {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-image: url("../figs/fyi.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #326273;
  background-color: #b7ccccab;
  border: dashed 5px #82a7a6;
  }
  

/* -----------Grey Math Note------------- */

.math_note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-image: url("../figs/math.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
  min-height: 120px;
  color: #326273;
  background-color: #bdc7bfab;
  border: dashed 5px #869889;
  }  
  
  
/* -----------Yellow Interpretation Note------------- */

.interpret {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-image: url("../figs/interpret.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  min-height: 120px;
  color: #264653;
  background-color: #fffeaaab;
  border: solid 3px #264653;
  border-radius: 25px;
  }  

.interpret h5{
  margin-bottom: -20px;
}
  