@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');         /*Headers*/
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap'); /*Title*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');        /*Body Text*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');    /*Quotes*/


body {
  /*background-color: #273043;*/
  background-image: radial-gradient(circle, #007F5F, #2B9348, #55A630);
  font-size: 16px;
  font-family: 'EB Garamond', serif;
  line-height: 1.5em;
  
}

.container-fluid {
  background-color: #fff;
  border: 1px solid #273043;
  border-radius: 25px;
  padding: 25px 60px 25px;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  color: #5F634F; /*ff6b6b;*/
  margin-top: 20px;
  margin-bottom: 10px;
}

 /* unvisited link */
a:link {
  color: #E4572E;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #E4572E;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: #D9481C;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #D9481C;
  text-decoration: underline;
} 


/* Style blockquotes*/
blockquote {
  margin: 0;
  border-left: 5px solid #f02d3a;
  background-color: #efefef;
}

blockquote p {
  color: #353535;
  margin: 8px 0 24px 0;
}


/* Style author */
.author {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    color: #273043;
    margin: 40px auto 5px auto;
    line-height: 1;
}

.author em {
  font-style: normal;
}

/* Style date */
.date {
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    color: #273043;
    margin: 0 auto 100px auto;
    line-height: 1;
}

.date em {
  font-style: normal;
}

/* Style title */
.title {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 50px;
    color: #273043;
    margin: 1rem auto;
    line-height: 1;
}


/* Style figure captions */
.figure .caption{
  font-style: italic;
  color: #273043;
  font-size: 14px;
  caption-side: top;
  margin-bottom: 20px;
}


/* Style cover art */
.cover{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}



/* Style notes */
.shownote {
  color: #777;
}


.george{
  padding-left: 50px;
  margin-top: 20px;
}

/* Style actualquotes*/
.actualquote {
  position: relative;
  border-left: 0.3em solid #c62f4b;
  background-image: url("../figs/quotes.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px 0;
}

.actualquote p {
  margin: 8px 10px 24px 45px;
  font-family: 'Roboto', serif;
  font-size: 14px;
}


.chapterquote{
  font-style: italic;
  color: black;
  text-align: right;
}

.chapterquote .quoteauthor {
  font-style: normal;
}

.authorinitials {
  float: right;
}


.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* References */

#refs {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}



